<!--
    Author: Arjun Viswanathan
    Date created: 4/25/23
    Last date modified: 9/20/23
    Description: Launch file to launch specific auto command based on 3 user arguments
-->

<launch>
    <arg
        name="avoidObstacles"
        default="1"
    />
    <arg
        name="--algotype"
        default="better"
    />
    <arg
        name="--timer"
        default="0"
    />
    <arg
        name="--start"
        default="(0, 0)"
    />
    <arg
        name="--goal"
        default="(0, 0)"
    />
    <arg
        name="box"
        default="0"
    />
    <arg
        name="followObjects"
        default="0"
    />

    <group if="$(arg avoidObstacles)">
        <node name="avoid_obstacles" pkg="simplemotion" type="avoidObstacles.py" output="screen" respawn="true">
            <param name="--algotype" value="$(arg --algotype)"/>
            <param name="--timer" value="$(arg --timer)"/>
            <param name="--start" value="$(arg --start)"/>
            <param name="--goal" value="$(arg --goal)"/>
        </node>
    </group>

    <group if="$(arg box)">
        <node name="box" pkg="simplemotion" type="box.py" output="screen" respawn="true"/>
    </group>

    <group if="$(arg followObjects)">
        <node name="follow_objects" pkg="simplemotion" type="followObjects.py" output="screen" respawn="true">
            <param name="--timer" value="$(arg --timer)"/>
        </node>
    </group>
</launch>